body {
font-family: 'Roboto', sans-serif; 
background-color: #FFFFFF;
}
:root {
  --nblue-color: #2E2F42;
  --iris-color: #4D5AE5;
  --ocean-color:#404BBF;
  --green-color: #31D0AA;
  --slate-color: #434455;
  --light-slate-color: #8E8F99;
  --cornflower-color: #E7E9FC;
  --cloud-color: #F4F4FD;
  --white-color: #FFFFFF;
  --exwhite-color: #E5E5E5;
}
.header {
  background-color: var(--cornflower-color);
}
.header-logo {
font-family: 'Raleway',sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris-color);
}
 .header-logo-span {
  color: var(--nblue-color); 
  }
  .cursiv {
    font-style: normal;
  }
  .header-address {
    color: var(--slate-color);
  }
.footer-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
text-transform: uppercase;
color: #4D5AE5;
}
.footer-logo-span {
  color:#F4F4FD
}
.footer-text {
font-family: 'Roboto', sans-serif; 
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #E7E9FC;
}
 .list {
  list-style: none;
}
.link{
  text-decoration: none;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  }
.header-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-tel {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.hero-section{
  background-color: var(--nblue-color);
}
.hero-section-title {
  font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;

color:var(--white-color);
}
.hero-section-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white-color);
background-color:var(--iris-color);
}
.view-section {
  background-color: var(--exwhite-color) ;
}
.view-item {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--nblue-color);
}
.view-par {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-color);
}
.funct {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--nblue-color);
}
.team-section {
  background-color: var(--cloud-color);
}
.team-member {
font-weight:  500;
font-size:  20px;
line-height:  24px;
letter-spacing: 2%;
color: var(--nblue-color);
}
.pos {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate-color);
}
.footer {
  color: var(--white-color);
  background-color: var(--nblue-color);
}
.footer-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;
color: var(--iris-color);
} 
.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--cornflower-color);
}
.header-led {
  color: #2E2F42;
}
.addredd-led {
  color: #434455;
}
.btns .btns-btn {
  color: #4D5AE5;
  background: #F4F4FD;
}
.btn:hover {
  color: #F4F4FD;
  background: #4D5AE5;
}
.products .products-prd {
  color: #2E2F42;
 }
.foot .foot-logo {
  font-family: 'Raleway', sans-serif ;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
color:#F4F4FD
}
.foot {
  background: #2E2F42;
}
.foot .foot-text {
color: #E7E9FC;
}
